@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import './variables';
@import './accoridon_card';
@import './accordion_faq';
@import './attribution';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  margin: auto;
  overflow: hidden;
  font-size: 12px;
  font-family: 'Kumbh sans', sans-serif;
  background: linear-gradient(to bottom, $soft-violet, $soft-blue);
  min-height: 100vh;
  .wrapper {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    width: 90%;
  }
}
