@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.accordion__card {
  position: relative;
}

.accordion__card .illustration__box {
  position: absolute;
  top: 45%;
  left: -90px;
  z-index: 10;
}

.accordion__card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 150px;
  min-height: 500px;
  height: auto;
  border-radius: 30px;
  -webkit-box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  background: url("/images/bg-pattern-desktop.svg") top -250px left -560px no-repeat, #fff;
}

.accordion__card .container .accordion__design {
  position: absolute;
  left: -70px;
  top: 20%;
}

@media screen and (max-width: 1000px) {
  .accordion__card {
    margin: auto;
    max-width: 500px;
  }
  .accordion__card .illustration__box {
    position: absolute;
    top: 0%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
  }
  .accordion__card .illustration__box img {
    width: 50%;
  }
  .accordion__card .container {
    overflow: visible;
    background: url("/images/bg-pattern-mobile.svg") top left 50% no-repeat, #fff;
    background-size: 60%;
  }
  .accordion__card .container .accordion__design {
    position: absolute;
    left: 50%;
    top: -5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .accordion__card .container .accordion__design img {
    width: 300px;
  }
  .accordion__card .container .accordion__faq {
    margin: auto;
    width: 80%;
  }
  .accordion__card .container .accordion__faq .title {
    font-size: 20px;
    text-align: center;
    margin-top: 130px;
  }
}

@media screen and (max-width: 500px) {
  .accordion__card .illustration__box .container {
    overflow: visible;
    background: url("/images/bg-pattern-mobile.svg") top left 50% no-repeat, #fff;
    background-size: 100%;
  }
}

.accordion__faq {
  margin-left: 50%;
  margin-top: 30px;
  width: 40%;
}

.accordion__faq .title {
  font-size: 20px;
  margin: 10px 0;
}

.accordion__faq .accordion__content {
  padding-bottom: 50px;
}

.accordion__faq .accordion__content .accordion {
  border-bottom: 1px solid #e7e7e9;
}

.accordion__faq .accordion__content .accordion .accordion__input {
  visibility: hidden;
}

.accordion__faq .accordion__content .accordion .accordion__input:checked ~ .answer {
  display: block !important;
}

.accordion__faq .accordion__content .accordion .accordion__input:checked ~ .question {
  font-weight: bold;
}

.accordion__faq .accordion__content .accordion .accordion__input:checked ~ .question .question__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__faq .accordion__content .accordion .accordion__input:checked ~ .question:hover {
  color: #1d1e35;
}

.accordion__faq .accordion__content .accordion .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  padding: 20px 0;
  color: #4a4b5e;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.accordion__faq .accordion__content .accordion .question .question__icon {
  width: 13px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.accordion__faq .accordion__content .accordion .question .question__icon img {
  width: 100%;
}

.accordion__faq .accordion__content .accordion .question:hover {
  color: #f47c57;
}

.accordion__faq .accordion__content .accordion .answer {
  color: #787887;
  display: none;
  font-size: 13px;
  padding: 10px;
}

.attribution {
  text-align: center;
  margin: 80px 0;
  font-size: 15px;
}

.attribution a {
  color: #1d1e35;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  margin: auto;
  overflow: hidden;
  font-size: 12px;
  font-family: 'Kumbh sans', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  min-height: 100vh;
}

.app__container .wrapper {
  margin: auto;
  min-width: 270px;
  max-width: 1000px;
  width: 90%;
}
/*# sourceMappingURL=app.css.map */